.btn {
  @extend %btn-default;
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include color(#fff);
  height: 56px;
  width: 100%;
  max-width: 240px;
  padding: 8px 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: $color__info;

  &.btn_lg {
    height: 64px;
    max-width: 288px;
  }

  &.btn_sm {
    height: 48px;
    max-width: 220px;
  }
}
