.quiz {
  @include inline-block;
  position: relative;
}

.quiz__wrapper {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(100%);
  @include pos(0,0);
  color: #fff;
  background-color: rgba(0,0,0,.72);
}

.quiz__title {
  @include h1;
  text-transform: uppercase;
  line-height: $line-height__content;

  @include media-breakpoint-up(md) {
    margin-bottom: 36px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 28px;
  }
}

.quiz__desc {
  @include h4;
  font-weight: 500;
  line-height: $line-height__content;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }
}
