.quiz {
  @include inline-block;
  overflow: hidden;
  position: relative;
  transition: all .3s ease;

  &.quiz_active {
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.2);

    .quiz__progress {
      opacity: 1;
      transition: all .3s ease .3s;
    }

    .quiz__prev {
      opacity: 1;
      pointer-events: all;
      transition: all .3s ease .3s;
    }

    .quiz__pagination {
      opacity: 1;
      transition: all .3s ease .3s;
    }
  }
}

.quiz__wrapper {
  @include wh(100%);
  @include pos(0,0);
  display: flex;
  color: #fff;
  transition: all .3s ease;
  background-color: rgba(0,0,0,.72);
}

.quiz__pane {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include fw(100%);
  overflow: hidden;
  position: relative;
  padding: 32px 24px;
  transition: all .3s ease;

  &.quiz__pane_bg_white {
    color: $color__default;
    background-color: #fff;
  }

  &.quiz__pane_active {
    .quiz__subtitle {
      opacity: 1;
      transform: translateX(0);
    }

    .quiz__desc {
      opacity: 1;
      transform: translateX(0);
    }

    .quiz__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.quiz__title {
  @include h1;
  text-transform: uppercase;
  line-height: $line-height__content;

  @include media-breakpoint-up(md) {
    margin-bottom: 36px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 28px;
  }
}

.quiz__subtitle {
  @include h2;
  font-weight: 600;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity .3s ease .3s,  transform .4s ease .2s;

  @include media-breakpoint-up(md) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 18px;
  }
}

.quiz__desc {
  @include h4;
  font-weight: 500;
  line-height: $line-height__content;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity .6s ease .5s,  transform .4s ease .4s;

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 24px;
  }
}

.quiz__footer {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity .9s ease .7s,  transform .4s ease .6s;
}

.quiz__prev {
  @extend %btn-default;
  @include wh(32px);
  @include pos(24px,24px);
  color: $color__brand;
  opacity: 0;
  pointer-events: none;
}

.quiz__pagination {
  @include fs-lh(72px,1);
  font-weight: 600;
  position: absolute;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  color: $color__light;
  pointer-events: none;
}

.quiz__pagination-current {
  font-size: 104px;
}

.quiz__progress {
  @include wh(100%/12*8,22px);
  @include pos(64px,50%);
  margin: 0 0 0 (-100%/12*4);
  display: flex;
  overflow: hidden;
  opacity: 0;
  border-radius: 16px;
  pointer-events: none;
  background-color: $color__light;
}

.quiz__progress-runner {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include fs-lh(12px,$line-height__content);
  width: 0;
  color: #fff;
  overflow: hidden;
  transition: all .8s ease .3s;
  background-color: $color__brand;
}
