.bg-brand {
  background-color: $color__brand !important;
}

.bg-info {
  background-color: $color__info !important;
}

.bg-success {
  background-color: $color__success !important;
}

.bg-white {
  background-color: #fff !important;
}
