%wrapper {
    @include mx(auto);
}

%d-flex {
    display: flex;
    flex-wrap: wrap;
}

%flex-center {
    display: flex;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%btn-default {
    //@include inline-block;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

%link-default {
    text-decoration: none;
    color: $color__link;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color__link;
    }
}

%title-default {
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-family__title;
}

%text-default {
    @include fs-lh($font-size__default,$line-height__content);
}

%zi-1 {
    z-index: 1;
    position: relative;
}

%zi-2 {
    z-index: 2;
    position: relative;
}