.tdec-none {
  text-decoration: none;

  &:hover,
  &:focus {
      text-decoration: none;
  }
}

.tdec-underline {
  text-decoration: underline;

  &:hover,
  &:focus {
      text-decoration: underline;
  }
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}
