extends base

block meta
  - var pageClass = '';
  - var title = 'Категория';

block wrapper
  section.section.pt-5.pb-4
    .wrapper
      nav.pathway.h6.mb-2
        a.pathway__link(href="#")
          span.tdec-underline.color-brand Главная
        a.pathway__link(href="#")
          span.tdec-underline.color-brand Категория
        span.pathway__current Позиция
      .section__heading.section__heading_mb_sm
        h1.section__title Многолетний опыт работы в сфере производства модульных конструкций
      .content
        p Мы являемся производителями. Многолетний опыт работы в сфере производства модульных конструкций позволяет нам выпускать высококачественную продукцию.
        p Изготовление происходит под строгим контролем, каждый наш вагончик получает свой индивидуальный паспорт и номер. Это дает возможность отслеживать всю цепочку его изготовления, знать всех непосредственных исполнителей.

  .section.pb-4.bg-light
    .wrapper
      .row
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4
          a.project.box-shadow(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper.project__wrapper_bg_dark
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.

