extends base

block meta
  - var pageClass = '';
  - var title = 'Главная';

block wrapper
  //- .promo.swiper-container
    .swiper-wrapper
      .swiper-slide
        .promo__picture
          +img('content/promo.jpg','img-cover')
        .wrapper
          .promo__title Модульные двухэтажные АБК жилые, офисные, штабы строительства
          .promo__price Цена
            .promo__price-value от 9 500 руб/м
          ul.promo__list
            li.promo__list-item изготовление, монтаж и сборка кровли от 10 рабочих дней
            li.promo__list-item выполнение под ключ или "шеф монтаж"
          a.btn.btn-danger(href="#") Подробнее
    .swiper-nav
      button.swiper-button.swiper-button-prev(type="button")
        +icon('arrow-prev')
      button.swiper-button.swiper-button-next(type="button")
        +icon('arrow-next')
    .swiper-pagination
      .swiper-pagination-bullet
      .swiper-pagination-bullet.swiper-pagination-bullet-active
      .swiper-pagination-bullet
      .swiper-pagination-bullet
      .swiper-pagination-bullet

  .section
    .wrapper
      .section__heading
        .section__title.section__title_border_bottom.color-brand Услуги компании
        .section__title.text-uppercase изготовление и монтаж под ключ
      ul.section__list.row
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Модульные здания
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Блок-контейнеры
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Проекты из сендвич-панелей
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Контрольно-пропускные пункты
      .gallery-grid.row
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')

  //- .divider
    .wrapper
      .divider__title Получить стоимость услуг

  .section
    .wrapper
      h1.section__heading.section__heading_mb_sm.d-flex.flex-column
        span.section__title.section__title_border_bottom.color-brand Преимущества
        span.section__title.text-uppercase нашей продукции
      .content
        p Мы являемся производителями. Многолетний опыт работы в сфере производства модульных конструкций позволяет нам выпускать высококачественную продукцию.
        p Изготовление происходит под строгим контролем, каждый наш вагончик получает свой индивидуальный паспорт и номер. Это дает возможность отслеживать всю цепочку его изготовления, знать всех непосредственных исполнителей.
        p Есть некоторые технологические особенности, которые позволяют нашим бытовкам оставаться конкурентоспособными:
        .list-counter.row
          .content__section.col-xl-5.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.offset-xl-1.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.offset-xl-1.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
      .d-flex.justify-content-center
        a.btn.bg-brand(href="#") Подробнее

  .section.bg-light
    .wrapper
      .section__heading
        .section__title.text-uppercase.text-center Цены на продукцию
      .row
        .col-lg-4.mb-4.mb-lg-0
          .price
            .price__title.price__title_color_info ЭКОНОМ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;65 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature потолок - ДВП
              .price__feature окно ПВХ 700х900 поворотное
              .price__feature дверь металлическая
              .price__feature производство КНР
              .price__feature.price__feature_type_unavailable без электрики
              .price__feature.price__feature_type_plain Опционально — усиленное утепление, замена дверей/окон, отделки
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать
        .col-lg-4.mb-4.mb-lg-0
          .price
            .price__title.price__title_color_warning СТАНДАРТ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;85 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature производство КНР
              .price__feature.price__feature_type_unavailable без электрики
              .price__feature.price__feature_type_plain Опционально — усиленное утепление, замена дверей/окон, отделки
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать
        .col-lg-4
          .price
            .price__title.price__title_color_brand КОМФОРТ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;94 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature потолок - ДВП
              .price__feature окно ПВХ 700х900 поворотное
              .price__feature дверь металлическая
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать

  .section
    .wrapper
      .section__heading
        .section__title.section__title_border_bottom.color-brand Нам доверяют
        .section__title.text-uppercase постоянные партнеры
      .d-flex.flex-wrap
        .mr-3.mr-md-5.mb-2
          +img('content/logo/1.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/2.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/3.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/4.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/5.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/6.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/7.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/8.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/9.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/10.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/11.png')
