extends base

block meta
  - var pageClass = '';
  - var title = 'Главная';

block wrapper
  //- .promo.swiper-container
    .swiper-wrapper
      .swiper-slide
        .promo__picture
          +img('content/promo.jpg','img-cover')
        .wrapper
          .promo__title Модульные двухэтажные АБК жилые, офисные, штабы строительства
          .promo__price Цена
            .promo__price-value от 9 500 руб/м
          ul.promo__list
            li.promo__list-item изготовление, монтаж и сборка кровли от 10 рабочих дней
            li.promo__list-item выполнение под ключ или "шеф монтаж"
          a.btn.btn-danger(href="#") Подробнее
    .swiper-nav
      button.swiper-button.swiper-button-prev(type="button")
        +icon('arrow-prev')
      button.swiper-button.swiper-button-next(type="button")
        +icon('arrow-next')
    .swiper-pagination
      .swiper-pagination-bullet
      .swiper-pagination-bullet.swiper-pagination-bullet-active
      .swiper-pagination-bullet
      .swiper-pagination-bullet
      .swiper-pagination-bullet

  .section
    .wrapper
      .section__heading
        .section__title.section__title_border_bottom.color-brand Услуги компании
        .section__title.text-uppercase изготовление и монтаж под ключ
      ul.section__list.row
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Модульные здания
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Блок-контейнеры
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Проекты из сендвич-панелей
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Контрольно-пропускные пункты
      .gallery-grid.row
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')

  .divider
    .wrapper
      .divider__title Получить стоимость услуг

  .section.wrapper
