extends base

block meta
  - var pageClass = '';
  - var title = 'Главная';

block wrapper
  .promo.swiper
    .swiper-wrapper.mb-md-4
      .swiper-slide.h-auto.bg-dark
        .promo__picture
          +img('content/gostiniczyi-iz-vagonchikov-001.jpg','img-cover')
        .promo__wrapper
          .wrapper.d-flex.h-100.px-0
            .col-xl-8.col-lg-9.col-md-11.d-flex.flex-column.justify-content-center
              .promo__title Модульные двухэтажные АБК жилые
              .promo__price Цена
                .promo__price-value от 9 500 руб/м
              ul.promo__list
                li.promo__list-item изготовление, монтаж и сборка кровли от 10 рабочих дней
                li.promo__list-item выполнение под ключ или "шеф монтаж"
              a.btn.bg-brand(href="#") Подробнее
      .swiper-slide.h-auto.bg-dark
        .promo__picture
          +img('content/gostiniczyi-iz-vagonchikov-001.jpg','img-cover')
        .promo__wrapper
          .wrapper.d-flex.h-100.px-0
            .col-xl-8.col-lg-9.col-md-11.d-flex.flex-column.justify-content-center
              .promo__title Модульные двухэтажные АБК жилые, офисные, штабы строительства
              .promo__price Цена
                .promo__price-value от 9 500 руб/м
              ul.promo__list
                li.promo__list-item изготовление, монтаж и сборка кровли от 10 рабочих дней
                li.promo__list-item выполнение под ключ или "шеф монтаж"
              a.btn.bg-brand(href="#") Подробнее
    .swiper-nav.d-none.d-md-block
      button.swiper-nav__item.swiper-nav__item_dir_prev.color-light.ml-3(type="button")
        +icon('arrow-left')
      button.swiper-nav__item.swiper-nav__item_dir_next.color-light.mr-3(type="button")
        +icon('arrow-right')
    .swiper-pagination.d-none.d-md-block

  .section
    .wrapper
      .section__heading
        .section__title.section__title_border_bottom.color-brand Услуги компании
        .section__title.text-uppercase изготовление и монтаж под ключ
      ul.section__list.row
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Модульные здания
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Блок-контейнеры
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Проекты из сендвич-панелей
        li.col-md-6.d-flex
          a.section__list-item(href="#")
            +icon('checked-filled', 'section__list-icon color-success mr-3')
            span.font-weight-bold Контрольно-пропускные пункты
      .gallery-grid.row
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')
        .col-md-6
          a.gallery-grid__item(href="#")
            +img('content/bk.jpg', 'img-cover')

  //- .divider
    .wrapper
      .divider__title Получить стоимость услуг

  .section
    .wrapper
      h1.section__heading.section__heading_mb_sm.d-flex.flex-column
        span.section__title.section__title_border_bottom.color-brand Преимущества
        span.section__title.text-uppercase нашей продукции
      .content
        p Мы являемся производителями. Многолетний опыт работы в сфере производства модульных конструкций позволяет нам выпускать высококачественную продукцию.
        p Изготовление происходит под строгим контролем, каждый наш вагончик получает свой индивидуальный паспорт и номер. Это дает возможность отслеживать всю цепочку его изготовления, знать всех непосредственных исполнителей.
        p Есть некоторые технологические особенности, которые позволяют нашим бытовкам оставаться конкурентоспособными:
        .list-counter.row
          .content__section.col-xl-5.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.offset-xl-1.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
          .content__section.col-xl-5.offset-xl-1.col-md-6
            .content__section-heading
              .content__section-picture
                +img('content/bk.jpg','img-cover')
            .content__section-desc
              h4 Металлические двери российского производства
              p Мы отказались от использования дверей из Китая, так как двери от наших поставщиков гораздо надежнее
      .d-flex.justify-content-center
        a.btn.bg-brand(href="#") Подробнее

  .section.section_bg_circle.bg-dark
    .wrapper.zi-2
      .section__heading.mb-2
        .section__title.section__title_border_bottom.color-brand Изготовление
        .section__title.text-uppercase.color-white Наше производство
      .blockquote.color-lighten.font-weight-medium
        .d-flex.justify-content-end.mb-3.mb-sm-4
          +icon('quote','blockquote__icon color-brand')
        p Блок-контейнеры от производителя – продукт востребованный многими предприятиями, строительными компаниями и частными потребителями в . Потребность в блок-контейнерах нашего производства обусловлена высоким качеством выпускаемых модулей, их разнообразием и конкурентоспособной ценой.
      .row
        .col-md-4
          .feature.color-white
            +icon('plan','feature__icon color-brand')
            .feature__wrapper
              .feature__title 4500 кв.
              .feature__desc Производственные площади, подтвержденные документально
        .col-md-4
          .feature.color-white
            +icon('calendar','feature__icon color-brand')
            .feature__wrapper
              .feature__title 9 лет
              .feature__desc Работаем на рынке с 2012 года. Всегда соблюдаем заявленные сроки
        .col-md-4
          .feature.color-white
            +icon('engine','feature__icon color-brand')
            .feature__wrapper
              .feature__title 100%
              .feature__desc Не отказываемся от гарантийных случаев. Мы дорожим каждым клиентом
      .d-flex.justify-content-center
        a.btn(href="#") Заказать услугу

  .section.wrapper.text-center
    .quiz
      +img('content/gostiniczyi-iz-vagonchikov-001.jpg','quiz__bg')
      .quiz__wrapper
        .quiz__title Пройдите тест и получите
          span.d-block.text-nowrap &nbsp;скидку на покупку блок-контейнера!
        .quiz__desc Исходя из ваших ответов система подберет вам лучшие варианты бытовок,
          span.d-block а также сформирует для вас спецпредложение на индивидуальных условиях!
        .quiz__footer.d-flex.justify-content-center.w-100
          button.btn.btn_sm.bg-brand(type="button") Начать

  .section.bg-light
    .wrapper
      .section__heading
        .section__title.text-uppercase.text-center Цены на продукцию
      .row
        .col-lg-4.mb-4.mb-lg-0
          .price
            .price__title.price__title_color_info ЭКОНОМ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;65 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature потолок - ДВП
              .price__feature окно ПВХ 700х900 поворотное
              .price__feature дверь металлическая
              .price__feature производство КНР
              .price__feature.price__feature_type_unavailable без электрики
              .price__feature.price__feature_type_plain Опционально — усиленное утепление, замена дверей/окон, отделки
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать
        .col-lg-4.mb-4.mb-lg-0
          .price
            .price__title.price__title_color_warning СТАНДАРТ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;85 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature производство КНР
              .price__feature.price__feature_type_unavailable без электрики
              .price__feature.price__feature_type_plain Опционально — усиленное утепление, замена дверей/окон, отделки
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать
        .col-lg-4
          .price
            .price__title.price__title_color_brand КОМФОРТ
            .flex-grow-1.zi-2.mb-4
              .price__desc от
                span.price__value &nbsp;94 000₽
              .price__feature пол ДСП 16 мм
              .price__feature стены - ДВП
              .price__feature потолок - ДВП
              .price__feature окно ПВХ 700х900 поворотное
              .price__feature дверь металлическая
            .price__footer
              button.btn.btn_lg.bg-brand(href="#") Заказать

  .section
    .wrapper
      .section__heading
        .section__title.section__title_border_bottom.color-brand Нам доверяют
        .section__title.text-uppercase постоянные партнеры
      .d-flex.flex-wrap
        .mr-3.mr-md-5.mb-2
          +img('content/logo/1.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/2.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/3.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/4.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/5.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/6.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/7.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/8.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/9.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/10.png')
        .mr-3.mr-md-5.mb-2
          +img('content/logo/11.png')

  .section.bg-brand
    .wrapper
      .section__heading.section__heading_mb_sm
        .section__title.text-uppercase.text-center.color-white Отзывы
      .reviews
        .reviews__slides.swiper
          .swiper-wrapper.mb-4
            .swiper-slide
              .reviews__item
                .d-flex.align-items-center.justify-content-between.mb-2
                  .reviews__title.mr-sm-4 Офисный вагончик
                  +icon('quote','reviews__icon color-brand d-none d-sm-block')
                .reviews__desc Дёшево и быстро построили офисы для персонала в арт пространстве на стройке. Временный лагерь архитекторов, приглашенных для работы над проектом комплекса отелей, сделали визуально необычным и стильным. Простые "вагончики" - контейнеры в удачном цвете уникально преобразили площадку. Самым большим одобрением стало одобрение этого решения бригадой профессионалов.
                button.reviews__readmore(type="button")
                  span.reviews__readmore-show Читать полностью
                  span.reviews__readmore-hide Скрыть
                .reviews__date 16.09.2021 г.
            .swiper-slide
              .reviews__item
                .d-flex.align-items-center.justify-content-between.mb-2
                  .reviews__title.mr-sm-4 Офисный вагончик
                  +icon('quote','reviews__icon color-brand d-none d-sm-block')
                .reviews__desc Дёшево и быстро построили офисы для персонала в арт пространстве на стройке. Временный лагерь архитекторов, приглашенных для работы над проектом комплекса отелей, сделали визуально необычным и стильным. Простые "вагончики" - контейнеры в удачном цвете уникально преобразили площадку. Самым большим одобрением стало одобрение этого решения бригадой профессионалов.
                button.reviews__readmore(type="button")
                  span.reviews__readmore-show Читать полностью
                  span.reviews__readmore-hide Скрыть
                .reviews__date 16.09.2021 г.
            .swiper-slide
              .reviews__item
                .d-flex.align-items-center.justify-content-between.mb-2
                  .reviews__title.mr-sm-4 Офисный вагончик
                  +icon('quote','reviews__icon color-brand d-none d-sm-block')
                .reviews__desc Дёшево и быстро построили офисы для персонала в арт пространстве на стройке. Временный лагерь архитекторов, приглашенных для работы над проектом комплекса отелей, сделали визуально необычным и стильным. Простые "вагончики" - контейнеры в удачном цвете уникально преобразили площадку. Самым большим одобрением стало одобрение этого решения бригадой профессионалов.
                button.reviews__readmore(type="button")
                  span.reviews__readmore-show Читать полностью
                  span.reviews__readmore-hide Скрыть
                .reviews__date 16.09.2021 г.
            .swiper-slide
              .reviews__item
                .d-flex.align-items-center.justify-content-between.mb-2
                  .reviews__title.mr-sm-4 Офисный вагончик
                  +icon('quote','reviews__icon color-brand d-none d-sm-block')
                .reviews__desc Дёшево и быстро построили офисы для персонала в арт пространстве на стройке. Временный лагерь архитекторов, приглашенных для работы над проектом комплекса отелей, сделали визуально необычным и стильным. Простые "вагончики" - контейнеры в удачном цвете уникально преобразили площадку. Самым большим одобрением стало одобрение этого решения бригадой профессионалов.
                button.reviews__readmore(type="button")
                  span.reviews__readmore-show Читать полностью
                  span.reviews__readmore-hide Скрыть
                .reviews__date 16.09.2021 г.
        .swiper-nav
          button.swiper-nav__item.swiper-nav__item_dir_prev(type="button")
            +icon('arrow-left')
          button.swiper-nav__item.swiper-nav__item_dir_next(type="button")
            +icon('arrow-right')
        .swiper-pagination


  .section.section_bg_disk.bg-dark
    .wrapper.zi-2
      .section__heading.section__heading_mb_sm.d-flex.flex-wrap.align-items-end.justify-content-between
        .mb-3.mb-lg-0
          .section__title.section__title_border_bottom.color-brand Выполненные проекты
          .section__title.text-uppercase.color-white фото завершённых объектов
        a.btn.bg-brand(href="#") Все проекты
      .row
        .col-md-4.mb-4.mb-md-0
          a.project(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4.mb-4.mb-md-0
          a.project(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
        .col-md-4
          a.project(href="#")
            +img('content/bk.jpg','img-cover')
            span.project__wrapper
              span.project__title Блок-контейнер для торговли
              span.project__date
                +icon('calendar','project__icon color-light mr-2')
                | 20.06.2020 г.
